/* Updated data-collection-form.css */

.data-collection-form {
    max-width: 1200px; /* Increased max-width for a wider form */
    margin: 20px auto; /* Added margin for spacing */
    padding: 20px;
    border: 2px solid #3498db; /* Changed border color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Added background color */
  }
  
  .form-group {
    margin-bottom: 20px; /* Increased margin-bottom for more spacing */
  }
  
  .data-collection-form label {
    display: block;
    margin-bottom: 10px; /* Adjusted margin for spacing */
  }
  
  .data-collection-form input {
    width: 100%;
    padding: 12px; /* Increased padding for better input size */
    box-sizing: border-box;
    border: 2px solid #3498db;
    border-radius: 8px; /* Added border-radius for rounded corners */
    font-size: 16px; /* Increased font size for better readability */
    margin-top: 5px;
  }
  
  .data-collection-form button {
    background-color: #e74c3c; /* Changed button color */
    color: #fff;
    padding: 12px 20px; /* Adjusted padding for better button size */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px; /* Increased font size for better visibility */
    margin-left: 0; /* Removed margin-left to center the button */
  }
  
  .data-collection-form button:hover {
    background-color: #c0392b; /* Darker color on hover */
  }
  