/* Updated field-form.css */

.field-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px; /* Increased max-width for a wider form */
    margin: 20px auto; /* Added margin for spacing */
    padding: 20px;
    border: 2px solid #3498db; /* Changed border color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Added background color */
  }
  
  label {
    flex-basis: calc(25% - 10px); /* 25% for four fields in one row, adjust as needed */
    margin-bottom: 20px;
  }
  
  input,
  select {
    width: 100%;
    padding: 12px; /* Increased padding for better input size */
    border: 2px solid #3498db;
    border-radius: 8px; /* Added border-radius for rounded corners */
    box-sizing: border-box;
    margin-top: 10px;
  }
  
  /* Center the Field Data input */
  .label-field-data {
    display: flex;
    align-items: center;
  }
  
  button {
    flex-basis: calc(25% - 10px);
    background-color: #e74c3c; /* Changed button color */
    color: #fff;
    padding: 12px; /* Adjusted padding for better button size */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  button:hover {
    background-color: #c0392b; /* Darker color on hover */
  }
  
